In [116]:
import pandas as pd
import numpy as np

In [ ]:
frame = pd.DataFrame(np.random.randn(4,3),columns=['a','b','c'])

apply works on a row/column basis of a DataFrame, applymap works element-wise on a DataFrame, and map works element-wise on a Series

In [119]:
frame[['d','e']] = frame[['b','c']].apply(lambda x: x/frame['a'])

In [120]:
frame

          a         b         c         d         e
0 -0.874783 -2.441627 -0.369057  2.791122  0.421884
1 -0.857281 -0.585421  1.246288  0.682881 -1.453768
2  0.127287  0.327295 -0.416789  2.571317 -3.274403
3 -0.886241 -0.448607 -0.227607  0.506191  0.256823

In [126]:
frame[['b','c']].applymap(lambda x: x/frame['a'])

,b,c
0,0 2.791122 1 2.848105 2 -19.182067 3...,0 0.421884 1 0.430498 2 -2.899413 3 ...
1,0 0.669218 1 0.682881 2 -4.599223 3 ...,0 -1.424682 1 -1.453768 2 9.791171 3 ...
2,0 -0.374144 1 -0.381783 2 2.571317 3 ...,0 0.476448 1 0.486175 2 -3.274403 3 ...
3,0 0.512820 1 0.523290 2 -3.524373 3 ...,0 0.260186 1 0.265498 2 -1.788139 3 ...

In [122]:
frame[['b','c']].applymap(lambda x: x/2)

          b         c
0 -1.220813 -0.184529
1 -0.292710  0.623144
2  0.163648 -0.208394
3 -0.224303 -0.113803

In [124]:
frame['b'].map(lambda x: x/2)

0   -1.220813
1   -0.292710
2    0.163648
3   -0.224303
Name: b, dtype: float64